<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, red 10%, rgba(110, 110, 120, 05) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <span class="text-600 font-medium">Reset your password</span>
        </div>
        <form [formGroup]="form">
          <label class="block text-900 text-xl font-medium mb-2">Confirmation key</label>
          <input type="text" placeholder="Confirmation key" formControlName="confirmationKeyValue" pInputText
                 class="w-full md:w-30rem mb-5" style="padding:1rem">
          <label class="block text-900 text-xl font-medium mb-2">New password</label>
          <input type="password" placeholder="New password" formControlName="newPassword" pInputText
                 class="w-full md:w-30rem mb-5" style="padding:1rem">
          <label class="block text-900 text-xl font-medium mb-2">Confirm new password</label>
          <input type="password" placeholder="Confirmed new password" formControlName="confirmedNewPassword" pInputText
                 class="w-full md:w-30rem mb-5" style="padding:1rem">
          <div class="flex align-items-center justify-content-between mb-5 gap-5">
            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: rgb(4, 109, 25)"
               routerLink="">Back to login page</a>
          </div>
          <button pButton pRipple [disabled]="!form.valid" (click)="resetPassword()" label="Reset password"
          style="background-color: rgb(5, 81, 3); color: white;"
                  class="w-full p-3 text-xl"></button>
        </form>
      </div>
    </div>
  </div>
  <p-dialog header="Response" [(visible)]="display" [modal]="true" [style]="{width: '450px'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <p class="m-0">{{message}}</p>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="display=false" label="Close" class="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</div>
